*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(228, 228, 228);
}

header {
	background-color: #ffffff;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
}

.header__nav {
	display: flex;
}

.header__list {
	display: inline-flex;
	list-style: none;
}

.logo {
	height: 50px;
}

main {
	background-color: aqua;
}

footer {
	background-color: darkkhaki;
}
