*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(228, 228, 228);
	color: darkslategray;
}

a {
	text-decoration: none;
	color: darkslategray;
}

header {
	background-color: #ffffff;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
}

.header__nav {
	display: flex;
}

.header__list {
	display: inline-flex;
	align-items: center;
	list-style: none;
}

.header__list * {
	padding-right: 1rem;
	text-transform: uppercase;
}

.logo {
	height: 50px;
}

.header__form-wrapper {
	display: flex;
	align-items: center;
}

.main__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main__content {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 60rem;
	width: 100%;
	height: 60vh;
	margin: 1rem;
	padding: 1rem; */
	background-color: #fff;
}

.form__wrapper {
	display: flex;
	flex-direction: column;
}

.form__wrapper > * {
	margin: 0.5rem 0;
}

footer {
	background-color: darkkhaki;
}
